/*  css bestand portfolio v2  */

/*  offwhite = #e7e7e7  */
/*  blue = #084e96  */
/*  red = #9b0408  */

body {
    background-color: #e7e7e7;
    overflow: hidden;
}

.main_area {
    box-sizing: border-box;
    position: relative;
    top: 20px;
    left: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    background-color: transparent;
    border: 3px solid transparent;
    border-image: linear-gradient(0deg, #9b0408 0%, #9b0408 50%, #084e96 50%, #084e96 100%);
    border-image-slice: 1;
    background-image: url("../images/bg_image_blue_v3.png"), url("../images/bg_image_red_v2.png");
    background-repeat: no-repeat;
    background-size: 530px 530px, 530px 530px;
    background-position: left -250px bottom -55px, right -260px bottom -55px;
    background-color: #e7e7e7;
    background-blend-mode: multiply;
}

@keyframes animation {
    0%   {opacity:0; transform:translateX(0px);}
    50%   {opacity:0; transform:translateX(0px);}
    50.5%   {opacity:1; transform:translateX(0px);}
    51%   {opacity:0; transform:translateX(0px);}
    51.5%   {opacity:1; transform:translateX(0px);}
    52%   {opacity:0; transform:translateX(0px);}
    52.5%   {opacity:1; transform:translateX(0px);}
    53%   {opacity:0; transform:translateX(0px);}
    78%   {opacity:0; transform:translateX(0px);}
    78.5%   {opacity:1; transform:translateX(0px);}
    81.5%   {opacity:1; transform:translateX(5px);}
    84.5%   {opacity:1; transform:translateX(0px);}
    85%   {opacity:0; transform:translateX(0px);}
    100%   {opacity:0; transform:translateX(0px);}
}

.bg_animation {
    box-sizing: border-box;
    position: fixed;
    top: 23px;
    left: 23px;
    width: calc(100vw - 46px);
    height: calc(100vh - 46px);
    background-color: transparent;
    border: 0px solid transparent;
    background-image: url("../images/bg_image_blue_v3.png"), url("../images/bg_image_red_v2.png");
    background-repeat: no-repeat;
    background-size: 530px 530px, 530px 530px;
    background-position: left -250px bottom -55px, right -260px bottom -55px;
    background-color: transparent;
    animation-name: animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.bg_border_1 {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border: 20px solid #e7e7e7;
}

.bg_border_2 {
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    background-color: transparent;
    border: 3px solid transparent;
    border-image: linear-gradient(0deg, #9b0408 0%, #9b0408 50%, #084e96 50%, #084e96 100%);
    border-image-slice: 1;
}

#link_work {
    width: 210px;
    position: absolute;
    top: -3px;
    left: calc((100vw - 210px)/2);
    display: block;
}

#link_work_shape {
    fill: #084E96;
    cursor: pointer;
}

#link_contact {
    width: 210px;
    position: absolute;
    bottom: -3px;
    left: calc((100vw - 210px)/2);
    display: block;
}

#link_contact_shape {
    fill: #9b0408;
    cursor: pointer;
    stroke-width: 1.6px;
}

#link_about1 {
    width: 125px;
    position: absolute;
    bottom: 80px;
    left: calc((100vw - 105px)/2);
    display: block;
}

#link_about1_shape {
    fill: #e7e7e7;
    stroke: #084E96;
    stroke-width: 2.6px;
    cursor: pointer;
}

#link_about2 {
    display: none;
}

.nav {
    fill: #e7e7e7;
    font-family: NOVA;
    font-size: 1em;
}

.nav_about1, .nav_about2 {
    fill: #084e96;
    font-size: 1.5em;
}

.main_text {
    font-family: NOVA;
    font-size: 2.6em;
    line-height: 0.6em;
    text-align: center;
    position: relative;
    top: 120px;
    left: -6px;
}

.main_text_1 {
    color: #9b0408;
}

.main_text_2 {
    color: #084e96;
}

.main_text_1a {
    position: relative;
    left: -28px;
}

.main_text_2a {
    position: relative;
    left: 6px;
}

.main_text_2b {
    position: relative;
    left: 23px;
}

.whiteline {
    height: 3px;
    position: absolute;
    background-color: #e7e7e7;
}

.whiteline:hover {
    cursor: pointer;
}

#whiteline_work {
    width: 185.5px;
    top: 20px;
    left: calc(((100vw - 185.5px)/2) + 2px);
    display: block;
}

#whiteline_contact {
    width: 185.5px;
    bottom: 20px;
    left: calc(((100vw - 186px)/2) - 1px);
    display: block;
}

.logo {
    width: 75px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}

.section_about img {
    right: auto;
    left: 5px;
}

.sectiondiv {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
}

.sectiondiv_inner {
    box-sizing: border-box;
    position: relative;
    top: 20px;
    left: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    background-color: transparent;
    border: 3px solid #e7e7e7;
}

.section_work {
    background-color: #084E96;
    color: #e7e7e7;
    bottom: 100vh;
    z-index: 30;
}

.section_contact {
    background-color: #9b0408;
    color: #e7e7e7;
    top: 100vh;
    z-index: 30;
}

.section_about {
    box-sizing: border-box;
    background-color: #e7e7e7;
    color: #084E96;
    top: 0vh;
    z-index: 30;
    left: 100vw;
    border-left: 2px solid #084E96;
}

.section_work_inner {
    background-color: #084E96;
    background-image: url("../images/crystal_bg_work.png");
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position-y: 0vh;
    background-blend-mode: overlay;
    overflow: hidden;
}

.section_contact_inner {
    background-color: #9b0408;
    background-image: url("../images/crystal_bg_contact.png");
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-blend-mode: overlay;
    overflow: hidden;
}

.section_about_inner {
    border: 3px solid #084E96;
    background-color: #e7e7e7;
    background-image: url("../images/crystal_bg_about.png");
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position: bottom 0px right -200px;
    overflow: hidden;
}

.top_row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.page_title {
    font-family: NOVA;
    font-size: 4em;
    text-transform: uppercase;
    color: #e7e7e7;
    position: relative;
    top: 10px;
    left: 20px;
}

#page_title_about {
    color: #084E96;
}

.exit_p {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    transition-duration: 0.1s;
    background-image: url("../images/exit_button_1d_white_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.exit_about {
    background-image: url("../images/exit_button_1d_blue_transparent.png");
}

.exit_p:hover {

    border-radius: 500px;
    transition-duration: 1.5s;
}

.exit_work:hover {
    background-image: url("../images/exit_button_1d_blue_transparent.png");
    background-color: #e7e7e7;
}

.exit_contact:hover {
    background-image: url("../images/exit_button_1d_red_transparent.png");
    background-color: #e7e7e7;
}

.exit_about:hover {
    background-image: url("../images/exit_button_1d_white_transparent.png");
    background-color: #084E96;
}

.content_about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    background-color: #e7e7e7;
    height: calc(100vh - 224px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.about_item {
    padding: 20px;
}

#about_text_1, #about_text_2 {
    font-family: Cabin;
    font-size: 1em;
    line-height: 1.4em;
}

#about_image {
    width: calc(100vw - 220px);
    
}


/*  media query vanaf 380 pixels  */
@media (min-width: 380px) {

    .main_text {
        font-size: 3.8em;
        left: -10px;
    }

    .main_text_1a {
        left: -40px;
    }

    .main_text_2a {
        left: 10px;
    }

    .main_text_2b {
        left: 34px;
    }
}

/*  media query vanaf 450 pixels  */
@media (min-width: 450px) {
    .logo {
        display: block;
    }
}

/*  media query vanaf 640 pixels  */
@media (min-width: 640px) {
    .main_area {
        background-size: initial;
        background-position: -360px 10px, right -370px top 10px;
    }

    .bg_animation {
        background-size: initial;
        background-position: -360px 10px, right -370px top 10px;
    }

    #link_work {
        width: 420px;
        top: -40px;
        left: calc((100vw - 420px)/2);
    }

    #link_contact {
        width: 420px;
        bottom: -40px;
        left: calc((100vw - 420px)/2);
    }

    #link_about1 {
        display: none;
    }

    #link_about2 {
        width: 172px;
        position: absolute;
        top: -3px;
        right: -3px;
        display: block;
    }

    #link_about2_shape {
        fill: #e7e7e7;
        stroke: #084E96;
        stroke-width: 1.2px;
        cursor: pointer;
    }

    #whiteline_work {
        width: 373px;
        left: calc(((100vw - 373px)/2) + 1px);
    }

    #whiteline_contact {
        width: 373px;
        left: calc(((100vw - 373px)/2) + 1px);
    }

    .main_text {
        font-size: 5.6em;
        top: 30vh;
    }

    .main_text_1a {
        left: -60px;
    }

    .main_text_2a {
        left: 14px;
    }

    .main_text_2b {
        left: 50px;
    }

    .section_work_inner {
        background-size: 100%;
    }

    .section_contact_inner {
        background-size: 100%;
    }

    .section_about_inner {
        background-size: 100%;
    }
}


/*  media query vanaf 1000 pixels  */
@media (min-width: 1000px) {
    .section_work_inner {
        background-position-y: -100px;
    }

    .section_contact_inner {
        background-position: bottom -50px right 0px;
    }

    .section_about_inner {
        background-size: 1000px auto;
        background-position: bottom 0px right -230px;
    }
}

/*  media query vanaf 1200 pixels  */
@media (min-width: 1200px) {
    .section_work_inner {
        background-position-y: -200px;
    }

    .section_contact_inner {
        background-position: bottom -100px right 0px;
    }

    .section_about_inner {
        background-size: 1000px auto;
        background-position: bottom 0px right -230px;
    }
}
